{% extends "base_template.html" %}

{% block title %}DressDash - History{% endblock %}

{% block body %}

<div class="row" style="height:80vh;">
    <div class="col-sm">
        <h2> Past Purchases </h2>
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Dresses</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for i in range(myDressesLen) %}
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td><img src="{{ url_for('static', filename='Images/' + myDresses[i]['image']) }}" width="30px" alt="{{ myDresses[i]['team'] }}" /></td>
                <td>{{ myDresses[i]["quantity"] }}</td>
                <td>{{ myDresses[i]["date"] }}</td>
              </tr>
            </tbody>
            {% endfor %}
            <tfoot>
            </tfoot>
          </table>
        </div>
        </div>
{% endblock %}